            /* The height and width of the div will become the dimensions of the map! */
            #map {
                height: 70vh;
                width: 80%;
              }
              @media (max-width: 768px) {
                #map {
                    height: 50vh;
                    width: 100%;
                  }
              }
              @media (max-width: 480px) {
                #map {
                    height: 40vh;
                    width: 100%;
                  }
              }